* {
  box-sizing: border-box;
}

.parent {
  display: flex;
  background-color: #333;
  width: 500px;
  padding: 10px;
  color: #fff;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: column nowrap;
}

.parent .one {
  width: 25%;
  background-color: #aaa;
  text-align: center;
  padding: 10px;
}

.boss {
  display: flex;
  background-color: #333;
  color: #fff;
  width: 500px;
  padding: 10px;
  flex-flow: row wrap;
  justify-content: space-around;
}

.two {
  background-color: #aaa;
  text-align: center;
  width: calc(94% / 4);
}

.frist {
  display: flex;
  background-color: #333;
  color: #fff;
  padding: 10px;
  justify-self: flex-end;
  align-items: center;
}

.frist div {
  background-color: #aaa;
  width: calc(100% / 3);
  text-align: center;
  padding: 10px;
}

.three {
  height: 80px;
}

.four {
  height: 100px;
}

.center {
  background-color: #00f;
  color: #fff;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondparent {
  background-color: #333;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  width: 600px;
  height: 400px;
  align-items: flex-start;
  align-content: space-between;
}

.second {
  background-color: #aaa;
  width: calc(100% / 3);
  padding: 10px;
}

.onfire{
  background-color: #333;
  color: #fff;
  display: flex;
  padding: 10px;
  width: 800px;

}

.onfire div{
  background-color: #f00;
  padding: 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 70px;
}

.onfire .fire{
  flex-grow: 3;
}

.onshrink {
  background-color: #333;
  color: #fff;
  display: flex;
  width: 800px;
  padding: 10px;
}

.onshrink div{
  background-color: #f00;
  padding: 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 110px;
}


.shrink{
  flex-shrink: 4;
}

.order {
  background-color: #333;
  color: #fff;
  display: flex;
  width: 800px;
  padding: 10px;
}

.order div{
  background-color: #f00;
  padding: 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 110px;
}

.oneorder{
  order: 1;
}


.flex-basis{
  background-color: #333;
  color: #fff;
  display: flex;
  width: 1000px;
  padding: 10px;
}

.flex-basis div{
  background-color: #f00;
  padding: 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 110px;
}

.basis{
  flex-basis: 300px;
  flex: 0 300px;
}

.align-self{
  display: flex;
  background-color: #333;
  color: #fff;
  width: 1000px;
  height: 200px;
  padding: 10px;
  align-items: flex-start;
}

.align-self div{
  background-color: #f00;
  padding: 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 110px;
  
}

.self{
  align-self: flex-end;
}


/*
  Flexible Box
  For Parent
  - display: flex => To Start Flexible Box
  - flex-direction: row => Default Value
  - flex-wrap: nowrap => Default Value
  - flex-flow: [Flex-Direction] + [Flex-Wrap]
  - justify-content: flex-start => Default Value
  - align-items: stretch => Default Value
  - align-content: stretch => Default Value
  For Child
  - flex-grow: 0 => Default Value
  - flex-shrink: 1 => Default Value
  - order: 0 => Default Value
  - flex-basis: auto => Default Value
  - flex: [Flex Grow] [Flex Shrink] [Flex Basis] 0 1 Auto
*/
