.one{
    background-color: black;
    color: whitesmoke;
    border: 5px solid #f00;
    width: 400px;
    margin: auto;
    padding: 10px;

}

h3{
    background-color: inherit;
    color: inherit;
    border: inherit;
    margin: inherit;
    padding: inherit;
} 

/* el (inherit) man m3nha twrs  el attubits*/

.family{
    font-family: 'Amiri', serif;
    color: rgba(47, 164, 168, 0.959);
}
/* el (font family) 7agh gamd f44445 bos 3la el code */

.bye{
    font-size: 20px;
}

.two{
    font-size: 2em;
    /* el (em=time) bos howa by5d man 7gm el abb aw el (inherited) */

}

.three{
    font-size: 2rem;
    /* el (rem=root) be ya5d man el root bt3 el sf7h bos 3la html root */
    
}

.four{
    font-size: 5vw;
    /* el (vw=viwe port page) y3my 7sab 3rd el Page lw hya 900px=el 1%=9=1vw */

}

.five{
    font-style: italic;
    font-size: 30px;
    /* el(font-style) 4kl el el klam man a5r bas 2lyl ank tst4dmh */
    
}

.six{
    font-variant: small-caps;
    font-size: 30px;
    /* el (font-variant) bos 3la el code small caps as8r man el 7raf el kptal */
    
}

.seven{
    font-weight: bold;
    font-size: 30px;
    /* el (font-weight) t2l el 4t ma a4r  */
}

button{
    border: none;
    padding: 10px;
    display: block;
    margin: auto;
    font-size: 50px;
    cursor: ns-resize;
    /* el (cursor) el mouse be m3na as7 */

}


