*{
    box-sizing: border-box;
    margin: 0px;
    font-weight: bold;
}


.assign-one{
    display: none;
    color: red;
}


@media print {
    .assign-one{
        font-size: 100px;
        display: block;
    }
}

p{
    font-size: 10px;
    font-weight: 100;
    color: #000;
}

.parent{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.parent div{
    width: 100%;
    background-color: #eee;
    color: #000;
    text-align: center;
    padding: 15px;
    margin-bottom: 5px;
}


@media (min-width:768px) and (max-width:1023px) {
    .parent div{
        width: calc( 50% - 10px);
        color: #ff0000;
    }
}

@media (min-width:1024px) {
    .parent div{
        width: calc(25% - 10px);
        color: #009688;
    }
}

.assign-two{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
}

.assign-two div{
    grid-column: span 6;
    width: 100%;
    background-color: #eee;
    text-align: center;
    padding: 20px;
    color: #000;
}


@media (min-width:768px) and (max-width:1023px) {
    .assign-two .one{
        grid-column: span 6;
        color: #ff0000;
    }
    
    .assign-two .two{
        grid-area: 2/1/2/3;
        color: #ff0000;
    }
    
    .assign-two .three{
        grid-area: 2/3/2/5;
        color: #ff0000;
    } 
    .assign-two .four{
        grid-area: 2/5/2/7;
        color: #ff0000;
    } 
}


@media (min-width:1024px) {
    .assign-two .one{
        grid-column: span 6;
        color: #009688;
    }

    .assign-two .two{
        grid-column: span 3;
        color: #009688;
    }

    .assign-two .three{
        grid-column: span 3;
        color: #009688;
    }

    .assign-two .four{
        grid-column: span 6;
        color: #009688;
    }
}