body{
    min-height: 5000px;
}


div{
    width: 100px;
    height: 100px;
    position: absolute;
}

.parent{
    width: 200px;
    height: 200px;
    position: relative;
}

.green{
    background-color: #7bb57e;
    left: 20px;
    z-index: 4;
}

.red{
    background-color: #864141;
    top: 20px;
    left: 35px;
    z-index: 5;
}

.blue{
    background-color: #42a0ce;
    z-index: 3;
    bottom: 120px;
}

.black{
    background-color: black;
}

.one{
    width: 400px;
    position: relative;
    left: 40%;
    border: 2px solid;
    border-color: red #00a1ff;
    padding: 20px;
}

.top-left{
width: 40px;
height: 20px;
background-color: #00a1ff;
color: white;
position: absolute;
top: -10px;
left: -20px;
text-align: center;
border-right: 2px solid red;

}


.bottom-left{
    width: 40px;
    height: 20px;
    background-color: #00a1ff;
    color: white;
    position: absolute;
    bottom: -10px;
    left: -20px;
    text-align: center;
    border-right: 2px solid red;
}

.top-right{
    width: 40px;
    height: 20px;
    background-color: #00a1ff;
    color: white;
    position: absolute;
    bottom: -10px;
    right: -20px;
    text-align: center;
    border-left: 2px solid red;
}

.bottom-right{
    width: 40px;
    height: 20px;
    background-color: #00a1ff;
    color: white;
    position: absolute;
    top: -10px;
    right: -20px;
    text-align: center;
    border-left: 2px solid red;
}

ul{
    background-color: rgb(204, 200, 193);
}

ol li{
    background-color: #ddd7d7;
    border: 1px solid white;
}

li ul{
    list-style: circle inside;
}

li ul li {
    background-color: #ddd7d7;
    border: 1px solid white;
}

.for{
    list-style-type: hebrew;
}

.five,.six{
    display: inline-block;
}


table{
    width: 100%;
    text-align: center;
    border-bottom: 4px solid rgb(4, 255, 201) ;
}


thead td {
    background-color: rgb(54, 54, 54);
    color: white;
    border: 1px solid white;
    font-weight: bold;
    padding: 20px;
}

tbody td{
    background-color: rgb(221, 206, 204);
    color: rgb(0, 0, 0);

}

.five{
    background-color: #3ca8d2;
    padding: 10px;
}

.six{
    background-color: #e21e82;
    padding: 10px;
}

.bye{
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 20px;
}