div{
    padding: 10px;
    margin: 20px;
    width: 100px;

}

.parent{
    width: 500px;
    background-color: black;
    color: blanchedalmond;
    position: relative;
    height: 300px;

}

body{
    min-height: 2000px;

}


/* el (static-position) dh el default position  
el(relative-position) 7rkh nsbyh
el (absolute-position) 3la 7sb el ab bt3w 
el (z-index) m3nha el tb2t aw el leyrrrrrrr
el (list-style-type-position) 5ash be el (ul-li)
*/


.one{
    background-color: black;
    color: blanchedalmond;
    position: static;

}

.two{
    background-color: blue;
    color: #eee;
    position: relative;

}


.three{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: red;
    margin: 0px;

}

.four{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: yellow;

}

.five{
    background-color: black;
    position: sticky;
    top: 30px;
    color: red;
    width: 1000px;
    margin: 0px;

}

.six,.seven,.eight{
    position: absolute;
top: 1600px;

}
.six{
    background-color: brown;
z-index: 1;

}

.seven{
    background-color: rgb(75, 15, 27);

}

.eight{
    background-color: cyan;

}

ul{
    background-color: black;
    list-style: decimal-leading-zero inside;
    color: red;

}

li{
    background-color: #37a29b78;

}

table{
    width: 100%;
    border: 1px solid red;

}

table thead td{
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    text-align: center;

}

td{
    background-color: tomato;
    border: 1px solid red;
}