.test{
    width: 400px;
    height: 200px;

}

div:empty{
    border: 5px solid red;
    width: 400px;
    height: 200px;

}

.two:hover{
    color: black;

}

.three:hover{
    color: yellow;

}

a:visited{
    color: red;

}

#four:checked+label{
    color: purple;

}

#five:focus{
    border: 2px solid green;
    outline: none;

}

.parent{
    position: relative;
    width: 800px;
    height: 100px;

}

.name{
    width: 60px;
    height: 25px;
    background-color: rgb(172, 172, 172);
    position: absolute;
    left: 0%;
    top: 30%;
    padding: 10px;
    text-align: center;

}

.no{
    width: 600px;
    height: 58px;
    background-color: rgb(172, 172, 172);
    position: absolute;
    right: 6%;
    padding: 15px;
}



.no::after{
    content: "";
    width: 5px;
    height: 100%;
    background-color: rgb(32, 136, 136);
    position: absolute;
    right: -10px;
    bottom: 0px;

}

.no::before{
    content: "";
    width: 0px;
    height: 0px;
    background-color: transparent;
    position: absolute;
    left: -46px;
    top: 18px;
    border: 20px solid;
    border-color: transparent #208888 transparent transparent;

}

.counter{
    counter-increment: run;
    width: 700px;
    background: #a7a6a6;
    position: relative;

}

.counter::before{
    content: attr(access);
    display: none;
}

.counter:hover::before{
    display: block;
}

.counter::selection{
    background-color: black;
    color: yellow;
}

.frist::first-letter{
    background-color: red;
    font-weight: bold;
    color: white;
    font-size: 40px;

}

.counter::first-line{
    background-color: rgb(24, 179, 179);
    font-weight: bold;

}


ul li::before{
    content: "";
    width: 0px;
    height: 0px;
    background-color: transparent;
    position: absolute;
    left: -46px;
    top: -10px;
    border: 20px solid;
    border-color: transparent #208888 transparent transparent;

}

ul li{
    position: relative;
    padding-left: 10px;
    margin-bottom: 40px;
}
ul{
    list-style: none;

}
/* 
title
pseudo elemment and class
m3na pseudo y3ny mozyaf
el elemment :: el class : bas da man el mon9mh el w3school
el(::frist-letter) man asmh awl str
el(::frist-line) man asmh awl line
el (selection) t7dyd
bos fi el agnda 
*/