.shadow{
    color: red;
    text-shadow: 1px 1px 1px green,2px 2px 2px red;
    text-align: center;
    
}

.arabic{
    direction: rtl;
    text-align: center;
}

span{
    display: block;
}

.shalaby{
    text-align: center;
    vertical-align: middle;
}


.link{
    background-color: black;
    text-decoration: none;
    color: #eee;
    padding: 5px 10px;
    display: inline-block;
}

.one{
    text-transform: capitalize;
    color: #f00;
    text-align: center;
    letter-spacing: 10px;
    /* el letter (spacing) dh el msafh byn el 7rrrrrrof 5ly balk   */
    text-indent: 10px;
    /* el (text-indent) dh msafh bas m4 padding */
    line-height: 1.6px;
    /* el (line-height) Mn asmw artf3 el 4t y3ny str w str  */
    word-spacing: 10px;
    /* el (word-spacing)dh b2a el msafa byn el klmat m4 7rf  */
    
}

.two{
    color: blue;
    white-space: normal;
    /* el (white-space)dh fi (norep) w (normal)bos 3la ell code*/
    width: 400px;
    margin: auto;
    word-break: break-all;
    /* el (word-break) 2sa kberh bas bos ela el code w focus y3ny rkz 3la klmh w el break  */

}

.three{
    color: rgb(0, 0, 0);
    width: 400px;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
/* el (text-overflow) bos 3la el code w el n2th */
}
