*{
    box-sizing: border-box;
    font-size: 30px;
}

.frist-grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 50px auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: auto  1fr;
    gap: 20px 10px;
}


.frist-grid div{
    background-color: #aaa;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout{
    height: 50vw;
    display: grid;
    grid-template-columns: repeat(10 , 1fr);
    grid-template-rows: 50px auto 50px;
    grid-template-areas: "head head head head head head head head head head"
    "section section section section section section aside aside aside aside"
    "foot foot foot foot foot foot foot foot foot foot";
}

header{
    background-color: #409da8;
    color: #fff;
    grid-area: head;
}

header::after{
    content: "header";
}


section{
    background-color: #cb6a13;
    color: #fff;
    grid-area: section;
}

section::after{
    content: "section";
}

aside{
    background-color:  #6d8591 ;
    color: #fff;
    grid-area: aside;
}

aside::before{
    content: "aside";
}

footer{
    background-color:  #009688 ;
    color: #fff;
    grid-area: foot;
}

footer::before{
    content: "footer";
}

.second-grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 20px 20px;
}

.second-grid div{
    background-color: #333;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-grid {
    margin: 50px auto;
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    gap: 15px 15px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(6 , 1fr);
}

.three-grid div{
    background-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one{
    grid-column-start: span 3;
    grid-row-end: 6;
}

.two{
    grid-column-start: span 2;
}

.three{
    grid-column-start: span 1;
}



.five{
    grid-column-start: span 2;
    grid-row-end: span 3;
}



.eight{
    grid-column-start: span 3;
    grid-row-end: span 1;
} 


.four-grid {
    margin: 50px auto;
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px 10px;
    align-content: space-between;
}

.four-grid div{
    background-color: #e91e63;
    text-align: center;
    color: #fff;
}


.five-grid{
    background-color: #ddd;
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-template-rows: repeat(4,auto);
    gap: 10px 10px;
}


.five-grid div{
    border-bottom: 5px solid #ff3d00;
}


.osama{
    background-color: #fff;
    grid-area: 1/1/2/5;
}

.ahmed {
    background-color: #fff;
    grid-area: 1/5/1/7;
}

.shady {
    background-color: #000;
    color: #fff;
    grid-area: 1/7/4/9;
}

.mohamed {
    background-color: #fff;
    grid-area: 2/1/4/3;
}

.mahmoud {
    background-color: #000;
    color: #fff;
    grid-area: 2/3/3/7;
}

.ezz {
    background-color: #fff;
    grid-area: 3/3/3/7;
}

.sayde {
    background-color: #fff;
    grid-area: 4/1/4/3;
}


.Ibrahim {
    background-color: #000;
    color: #fff;
    grid-area: 4/3/4/5;
}

.Gamal {
    background-color: #fff;
    grid-area: 4/5/4/7;
}

.Eman {
    background-color: #fff;
    grid-area: 4/7/4/9;
}


span{
    color: #a8a8a8;
}

.bold{
    font-weight: bold;
}
