.style{
    background-color: black;
    color: rgba(194, 41, 21, 0.89);
    font-size: 20px;
    border: 5px solid yellowgreen;
    text-align: center;
    padding: 10px;

}

p{
    padding: inherit;
    border: inherit;
    color: inherit;

}

.one{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;

}

.two{
    font-family: 'Cairo', sans-serif;
    font-weight: 700;

}

.three{
    font-family: 'Jomhuria', cursive;
    
}

.one,.two,.three{
    text-align: center;

}

.four{
    font-size: 2.5rem;
    
}
.five{
    font-size: 2rem;

}
.six{
    font-size: 1.5rem;

}

.four,.five,.six{
    text-align: center;
}