.name{
    display: inline-block;
    background-color: rgb(194, 182, 182);
    color: #ff0000;
    padding: 5px;
    margin: 10px;
    border: 5px solid red ;
    outline: black solid 5px;
    width: 106px;
}

.old{
display: inline-block;
background-color: #eee;
color: red;
padding: 5px;
margin: 10px;
border-width: 5px;
border-color: blue green;
border-style: solid;
outline: black solid 5px;
width: 106px;
}


.learn{
    display: inline-block;
    color: red;
    padding: 5px;
    margin: 10px;
    border-width: 5px;
    border-color: red green blue yellow;
    border-style: dashed;
    outline: black solid 5px;
    width: 150px;
}

.note{
    width: 400px;
    padding: 5px;
    margin: 5px;
    border-left: purple;
    border-left-width:5px ;
    border-left-style: solid;
    
}

.frist{
    width: 400px;
    padding: 5px;
    margin: 5px;
    border-left: rgb(0, 0, 0);
    border-left-width:5px ;
    border-left-style: solid;
    visibility: hidden;
}

.second{
    width: 400px;
    padding: 5px;
    margin: 5px;
    border-left: rgb(0, 174, 255);
    border-left-width:5px ;
    border-left-style: solid;
}