*{
    box-sizing: border-box;
}

.one {
    width: 300px;
    height: 200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    color: #03a9f4;
    font-weight: bold;
    font-size: 30px;
    
}

.one::before {
    content: "";
    width: 300px;
    height: 200px;
    background-color: #03a9f4;
    position: absolute;
    z-index: -1;
    transform: rotate(-5deg);
}

.one::after{
    content: "";
    width: 300px;
    height: 200px;
    background-color: #e91e63;
    position: absolute;
    z-index: -1;
    transform: rotate(5deg);
}


.two {
    width: 200px;
    height: 200px;
    margin: 30px auto;
    background-color: #eee;
    position: relative;
    line-height: 200px;
    text-align: center;
    border-radius: 100px;
    border: 10px solid;
    border-color: #e91e63 #e91e63 #e91e63 transparent;
}

.two::after{
    content: "";
    border: 10px solid;
    width: 200px;
    height: 200px;
    border-color: #2196f3 transparent #2196f3 #2196f3;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -20px;
}

.three{
    width: 200px;
    height: 200px;
    margin: 30px auto;
    background-color: #eee;
    position: relative;
    line-height: 200px;
    text-align: center;
    border-radius: 100px;
    font-size: 30px;
    font-weight: bolder;
}


.three::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid;
    border-color: #e91e63 #e91e63 #e91e63 transparent;
    top: -10px;
    left: -10px;
    transition: 0.5s;
}


.three::after{
    content: "";
    border: 10px solid;
    width: 220px;
    height: 220px;
    border-color: #2196f3 transparent #2196f3 #2196f3;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -20px;
    transition-duration: 0.5s;
    transition-delay: 0.8s;
}


.three:hover::before{
    transform: rotate(360deg);
}

.three:hover::after{
    transform: rotate(360deg);
}

